html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "peyda-medium";
    src: url("../fonts/FA/Peyda/Peyda-Medium.ttf");
}

body {
    font-family: "peyda-medium" !important;
    direction: rtl;
    background-color: #F2F2F3 !important;
    overflow: auto;
    font-weight: 500;
}

.contact_us_wrapper {
    max-width: 1024px;
    margin: 0 6vw;
    height: -webkit-fill-available;
    top: 20%;
    position: absolute;
    transition: all 1s ease-out;
}

.footer_contact_us {
    width: 100%;
    text-align: center;
}

.input_contact_wrapper {
    padding: 0 0 4vh 0 !important;
}

.input_contact_wrapper input,
textarea {
    border: 0;
    background-color: white;
    border-radius: 12px;
    padding: 19px 16px;
    font-size: 3.3vw !important;
}

.input_contact_wrapper input:focus-visible,
textarea:focus-visible {
    outline: 0;
}

.input_contact_wrapper>div {
    padding-bottom: 2vh !important;
    gap: 2vh;
}

.send_btn {
    background-color: #263F99;
    border-radius: 12px;
    /* margin-top: 4vh; */
    outline: 0;
    border: 0;
    padding: 15px 0;
    width: 100%;
    color: white;
}

.send_btn:disabled {
    background-color: #B5BDD9;
}

.map_img {
    width: 100%;
    border-radius: 15px;
}

.contact_icon {
    width: 2vw;
    align-items: center;
    color: #616161;
}

.contact_us_map {
    padding: 0 !important;
    display: flex;
    flex-direction: column;
}

.contact_us_map>div {
    padding-bottom: 4vh !important;
}

.contact_us_map span {
    color: #616161;
}

@media screen and (min-width: 768px) {

    .input_contact_wrapper,
    .contact_us_map {
        padding: 0 0 0 1.5rem !important;
    }

    .input_contact_wrapper input,
    textarea {
        font-size: 1.2vw !important;
    }

    .input_contact_wrapper>div {
        padding-bottom: 4vh !important;
        gap: 0;
    }
}

@media screen and (max-width: 768px) {
    .input_contact_wrapper>div>div {
        padding: 0 !important;
    }

    .contact_icon {
        width: 6vw;
    }

    .contact_us_map {
        flex-direction: column-reverse;
    }
}

@media screen and (min-width: 768px) {
    .footer_contact_us {
        position: absolute;
        bottom: 0;
    }
}