:root {
  --black-color: '#000000';
  --blackk: '#00000080';
  --blackl: '#00000040';
  --gray15: #A7A9AC25;
  --gray: '#A7A9AC';
  --white: '#FFFFFF';
  --blue: '#263F99';
  --light_blue: #99C7C9;
  --logo-img-top: 200px;
  --logo-img-right: 200px;
  --farsi-lang-top: 200px;
  --lang-txt-top: 0;
  --lang-txt-left: 0;
  --menu-wrapper-top: 0;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "peyda-medium";
  src: url("../fonts/FA/Peyda/Peyda-Medium.ttf");
}

body {
  font-family: "peyda-medium" !important;
  direction: rtl;
  background-color: #F2F2F3 !important;
  overflow: hidden;
}

.white_bg_container {
  background-color: white;
  height: 100vh;
  overflow: hidden !important;
}

.blue_bg_container {
  padding: 0 80px !important;
  display: flex;
  background-color: var(--gray15);
  height: 0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.logo_animation_img {
  display: none;
  width: 261px;
  /* height: 131px; */
}

.logo_img {
  display: none;
  width: 20%;
  position: absolute;
  /* animation: mymove 5s infinite; */
  animation-iteration-count: 1;
  /* width: 261px; */
  /* height: 131px; */
}

#logo_img {
  animation-timing-function: ease;
  /* background-image: url('https://picsum.photos/200');  */
  background-size: 100% 100%;
  animation-fill-mode: forwards;
}

@keyframes mymove {
  from {
    top: var(--logo-img-top);
  }

  to {
    top: 7%;
  }

  form {
    width: 20%;
  }

  to {
    width: 10%;
  }
}

@keyframes mymoveMobile {
  from {
    top: var(--logo-img-top);
  }

  to {
    top: 7%;
  }

  form {
    width: 20%;
  }

  to {
    width: 10%;
  }
}

@keyframes logoRightMove {
  from {
    right: var(--logo-img-right);
    top: 7%;
    width: 10%;
  }

  to {
    right: 6vw;
    top: 7%;
    width: 7%;
  }

}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.menu_desktop_wrapper {
  width: 40%;
  justify-content: space-between;
  display: none;
  position: absolute;
}

.menu_desktop_wrapper a {
  font-size: 16px;
  color: #303031;
}

.menu_desktop_wrapper a.active {
  color: #263F99;
}

.menu_desktop_wrapper a:hover {
  text-decoration: none !important;
}

.language_wrapper {
  position: absolute;
  display: none;
}

.language_txt {
  font-size: 16px;
  color: #797979;
}

@keyframes languageMove {
  from {
    top: var(--logo-img-top);
  }

  to {
    top: 93%;
  }
}

@keyframes moving-to-header-lang {

  /* animate from: center of current view */
  from {
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
  }

  /* animate to: its original position */
  to {
    top: 7%;
    left: 6vw;
  }
}

@keyframes moving-to-header-menu {

  /* animate from: center of current view */
  from {
    top: var(--menu-wrapper-top);
    /* transform: translate(-50%, -50%); */
    /* position: fixed; */
  }

  /* animate to: its original position */
  to {
    top: 7%;
  }
}

.header_wrapper {
  justify-content: space-between;
  margin: 4% 0;
  align-items: center;
}

/* .logo_img {
  width: 7%;
} */


.language_header {
  font-size: 24px;
  color: #797979;
}


.footer_wrapper {
  text-align: center;
  margin-top: 3%;
}

.gray_footer {
  color: #797979;
  font-size: 20px;
  text-align: center;
}

.colored_footer {
  color: #263F99;
}


.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  top: 0;
  right: 0;
  position: absolute;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}



.menu_mobile_container {
  display: none;
  position: absolute;
  top: 100%;
}

/* .opened .menu_mobile_container {
  display: none;
} */


@media screen and (max-width: 768px) {
  .menu_desktop_wrapper {
    flex-direction: column;
    align-items: center;
    gap: 5vh;
  }
  .gray_footer {
    font-size: 3.3vw;
  }
}