@font-face {
    font-family: "peyda-medium";
    src: url("../fonts/FA/Peyda/Peyda-Medium.ttf");
}


.project_details_wrapper {
    margin: 0 6vw !important;
    top: 100%;
    position: relative;
    transition: all 1s ease-out;
    justify-content: center;
}

.project_details_wrapper>div:first-child {
    padding-right: 0;
}

.project_details_wrapper>div:nth-child(2) {
    padding-left: 0;
}


scroll_img_wrapper::-webkit-scrollbar {
    display: none !important;
}

.card_sidebar {
    background-color: white;
    padding: 2vw;
    border-radius: 12px;
    display: grid;
    gap: 2.5vh;
    text-align: right;
}

.title_sidebar {
    font-size: 2vw;
    color: #303031;
}

.desc_sidebar {
    font-size: 1.2 vw;
    color: #303031;
}

.main_pic {
    width: 100%;
}

.scroll_img_wrapper button {
    border: 0;
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 25%;
}

.scroll_img_wrapper button:focus {
    outline: 0;
}

.scroll_img_wrapper {
    margin: 4vh 0;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    gap: 2vw;
}

.detail_title {
    font-size: 4vh;
    color: #303031;
    text-align: right;
    margin-top: 5vh;
    margin-bottom: 1vh;
}

.detail_desc {
    font-size: 3vh;
    color: #303031;
    text-align: right;
    line-height: 5vh;
}

@media screen and (max-width: 768px) {
    .project_details_wrapper>div {
        padding: 0 !important;
    }
    .project_details_wrapper>div:first-child {
        margin-bottom: 6vh;
    }
    .title_sidebar {
        font-size: 6vw;
    }
  }