html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "peyda-medium";
    src: url("../fonts/FA/Peyda/Peyda-Medium.ttf");
}

body {
    font-family: "peyda-medium" !important;
    direction: rtl;
    background-color: #F2F2F3 !important;
    font-weight: 500;
    overflow: auto;
}


.project_details_wrapper {
    padding: 0 6vw !important;
    top: 20%;
    position: absolute;
    transition: all 1s ease-out;
    justify-content: space-between;
    width: 100%;
    /* flex-direction: row-reverse; */
}

.project_details_wrapper>div:first-child {
    padding-right: 0;
}

.project_details_wrapper>div:nth-child(2) {
    padding-left: 0;
}


scroll_img_wrapper::-webkit-scrollbar {
    display: none !important;
}

.card_sidebar {
    background-color: white;
    padding: 2vw;
    border-radius: 12px;
    display: grid;
    gap: 2.5vh;
    text-align: right;
}

.title_sidebar {
    font-size: 2vw;
    color: #303031;
}

.desc_sidebar {
    font-size: 1.2 vw;
    color: #303031;
}

.main_pic {
    width: 100%;
}

.scroll_img_wrapper button {
    border: 0;
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 25%;
}

.scroll_img_wrapper_desktop button:focus {
    outline: 0;
}

.scroll_img_wrapper_desktop {
    /* margin: 4vh 0; */
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    gap: 2vw;
    height: 90%;
}


.scroll_img_wrapper_desktop button {
    border: 0;
    /* flex: 0 0 25%; */
    max-width: 100%;
    position: relative;
    width: 100%;
}

.scroll_img_wrapper button:focus {
    outline: 0;
}

.scroll_img_wrapper {
    margin: 4vh 0;
    flex-wrap: nowrap;
    display: none;
    overflow: auto;
    gap: 2vw;
}

#scroll_img_wrapper button img {
    opacity: .3;
}

.detail_title {
    font-size: 4vh;
    color: #303031;
    text-align: right;
    margin-top: 5vh;
    margin-bottom: 1vh;
}

.detail_desc {
    font-size: 3vh;
    color: #303031;
    text-align: right;
    line-height: 5vh;
}

@media screen and (max-width: 768px) {
    project_details_wrapper {
        flex-direction: row-reverse !important;
    }

    .project_details_wrapper>div {
        padding: 0 !important;
    }

    .project_details_wrapper>div:first-child {
        /* margin-bottom: 6vh; */
    }

    .title_sidebar {
        font-size: 6vw;
    }

    .scroll_coll {
        display: none;
    }

    .scroll_img_wrapper {
        display: flex !important;
    }
}



.slideshow-container {
    /* position: relative; */
    /* max-width: 800px; */
    /* margin: auto; */
}

.slides {
    display: flex;
    max-height: 70vh;
}

.slides img {
    aspect-ratio: 1;
}

.thumbnail-container {
    text-align: center;
    /* gap: 60px; */
    flex-wrap: wrap;
    overflow: auto;
    display: flex;
    height: 80%;
}

.thumbnail-container img {
    width: 150px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    opacity: .3;
}

.thumbnail-container img:hover {
    opacity: 1;
}

.play-pause-btn {
    display: block;
    margin: 10px auto;
}

.active {
    opacity: 1 !important;
}