html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "peyda-medium";
  src: url("../fonts/FA/Peyda/Peyda-Medium.ttf");
}

body {
  font-family: "peyda-medium" !important;
  direction: rtl;
  background-color: #F2F2F3 !important;
  font-weight: 500;
  overflow: auto;
}

.projects_wrapper {
  top: 20%;
  position: absolute;
  transition: all 1s ease-out;
  padding: 0 6vw;
  height: -webkit-fill-available;
}

.project_section {
  padding: 0 80px;
}

.category_wrapper {
  background-color: white;
  padding: 2vw;
  border-radius: 12px;
  text-align: right;
}

.category_wrapper ul{
  display: grid;
  gap: 2.5vh;
  list-style: none;
}

.category_wrapper a {
  font-size: 1.2 vw;
  color: #303031;
}

.category_wrapper a:hover, .category_wrapper li a:active {
  /* font-size: 1.2 vw; */
  color: #263F99;
  text-decoration: none;
}

.disable_project {
  opacity: .3;
}
.project_card_wrapper:hover {
  text-decoration: none !important;
}

.project_card_wrapper {
  margin-bottom: 5vh;
}

.project_img_box {
  background-image: url('../images/Project-Pic.png');
  background-size: cover;
  height: 200px;
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
}

.hid-box {
  top: 70%;
  position: relative;
  transition: all .3s ease-out;
  background: #00000040;
  height: 100%;
  text-align: right;
  padding: 0 1vw;
}

.project_img_box:hover>.hid-box {
  top: 40%;
  background: #00000080;
}

.project_title {
  font-size: 2.5vw;
  color: #FFFFFF;
  padding-bottom: 1vh;
  margin: 0;
}

.project_description {
  font-size: 1.3vw;
  color: #FFFFFF;
  margin: 0;
}

.pagination {
  display: inline-block;
  justify-content: center;
  margin-top: 3%;
}

.pagination a {
  color: #797979;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #FFFFFF;
  border-radius: 12px;
  margin: 0 .3%;
}

.pagination a.active {
  background-color: #263F99;
  color: white;
  border-radius: 12px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 12px;
}

@media screen and (max-width: 768px) {
  .project_title {
    font-size: 6vw;
  }

  .hid-box {
    top: 80%;
  }
}